---
import Base from "../../layouts/base.astro";
---

<Base title="Home">
  <div class="w-full h-full flex justify-center items-center">
    <h1 class="text-[12rem] font-bold">goosegg</h1>
  </div>
</Base>
